<header id="page-top" data-spy="scroll">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark navbar-background fixed-top">
    <mdb-navbar-brand class="navbar-brand">
      <h1>
        <a id=logo routerLink="/" routerLinkActive="active">
          <img src="images/logos/moonlight-white.png" alt="月光会" height="55px">
        </a>
      </h1>

    </mdb-navbar-brand>

    <links>
      <div class="nav navbar-nav ml-auto">
        <a class="nav-item nav-link waves-light" routerLink="/activity" routerLinkActive="active">Activity</a>
        <a class="nav-item nav-link waves-light" routerLink="/member" routerLinkActive="active">Member</a>
        <a class="nav-item nav-link waves-light" routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
    </links>
  </mdb-navbar>
</header>