<div class="container mb-4">

  <!-- Image size should be 1300px * 540px -->
  <div id="home-photo" class="container">
    <img class="d-block w-100" src="images/home/home_photo.jpg" alt="月光会のホームページ'">
  </div>
</div>


<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="big-headline mt-3">News
        <hr />
      </h3>
    </div>
  </div>

  <div id="news" class="news-body ml-2">
    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>20xx.yy.zz</div>
      <div class='col-md-10'><a class='news-link' href='https://hogehoge.com/' target='_new'>ほげほげ</a>を行いました。</div>
    </div>

    <div class='row mb-2'>
      <div class='col-md-2 pb-1'>20xx.yy.zz</div>
      <div class='col-md-10'><a class='news-link' href='https://hogehoge.com/' target='_new'>ふがふが</a>を行いました。</div>
    </div>

  </div>

</div>



<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="big-headline mt-4">Links
        <hr />
      </h3>
    </div>
  </div>

  <div id="link" class="news-body ml-1">
    <div class="row">
      <div class="col-10 my-2">
        <a href="https://github.com/youseegreen" target="_new">
          <span class="link-link ml-2"><i class='fas fa-link'></i> GitHub</span>
        </a>
      </div>

      <div class="col-10 my-2">
        <a href="https://www.extendedhand.net/" target="_new">
          <span class="link-link ml-2"><i class='fas fa-link'></i> ふがふが</span>
        </a>
      </div>
    </div>

  </div>

</div>

<div class="mb-5"></div>